/* Fonts */

/* FiraSans */
@font-face {
  font-family: "FiraSans";
  src: url("../../fonts/FiraSans-Regular.ttf");
}
@font-face {
  font-family: "FiraSans";
  src: url("../../fonts/FiraSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "FiraSans";
  src: url("../../fonts/FiraSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "FiraSans";
  src: url("../../fonts/FiraSans-Italic.ttf");
  font-style: oblique;
}
@font-face {
  font-family: "FiraSans";
  src: url("../../fonts/FiraSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FiraSans";
  src: url("../../fonts/FiraSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: oblique;
}

/* Vollkorn */

@font-face {
  font-family: "Vollkorn";
  src: url("../../fonts/Vollkorn-Regular.ttf");
}
@font-face {
  font-family: "Vollkorn";
  src: url("../../fonts/Vollkorn-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Vollkorn";
  src: url("../../fonts/Vollkorn-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Vollkorn";
  src: url("../../fonts/Vollkorn-Italic.ttf");
  font-style: oblique;
}
@font-face {
  font-family: "Vollkorn";
  src: url("../../fonts/Vollkorn-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Vollkorn";
  src: url("../../fonts/Vollkorn-BoldItalic.ttf");
  font-weight: bold;
  font-style: oblique;
}

/* Roboto Mono */
@font-face {
  font-family: "Roboto Mono";
  src: url("../../fonts/RobotoMono-Regular.ttf");
}
